html {
	font-family: sans-serif;
    font-size: 10pt;
}::selection{background-color:#020229;color:#fbfbfd}
a:hover {
	text-decoration: none;
}
body {
	/*font-family: Helvetica;*/
	font-family: sans-serif;
	color: #020229;
}
body a {
	color: #b53030;
}
body a:hover, body a:focus, body a:active {
	color: #862828;
	text-decoration: none;
	transition-duration: 0.2s;
}
ul {
	padding-left: 25px;
}
nav a {
	color: #020229;
}
nav a:hover {
	color: #020229;
}
nav ul li {
	/*font-size: 20px;*/
	display: inline-block;
	margin: 0px 8px 0px 8px;
}
nav ul li:first-child {
	margin-left: 2px;
}
nav ul li a:hover {
	color: #862828;
    text-decoration: none;
    transition-duration: 0.2s;
}
header {
	margin-top: 40px;
	margin-bottom: 40px;
}
header .container {
	/*border-bottom: 3px solid #000;*/
	padding: 0;
	margin-left: 4rem;
}
body .container {
	padding: 0px;
	margin-left: 4rem;
}
header .img-and-name > div {
	display: inline-block;
}
header .img-and-name .img img {
	width: 100%;
	max-width: 90px;
}
header .img-and-name .name {
	/*// font-weight: bold;*/
	/*font-size: 32px;*/
	font-size: 20pt;
	color: #020229;
}
header nav ul {
	padding-left: 0px;
	/*text-align: right;*/
	margin-bottom: 0px;
	/*margin-top: 14px;*/
}
.container {
	max-width: 600px;
	width: 100%;
	margin-left: 4rem;
}
.container-fluid {
	max-width: 600px;
    margin-left: 4rem;
}
footer {
	margin-top: 40px;
	margin-bottom: 40px;
}
.homepage-section {
	margin-bottom: 20px;
}
.homepage-section ul {
	padding-left: 18px;
}
p img {
	padding-top: 20px;
	width: 100%;
}
span.faded {
	color: #bdbdbd;
    font-style: italic;
}
.project {
	padding-bottom: 20px;
}
/*.project .name {
	font-size: 20px;
}*/
hr {
	background-color: #ccd;
    height: 1px;
    border: 0;
    margin: 1rem 0;
}
h1 {
	font-size: 20pt;
    margin: 0;
}
h2 {
	font-size: 14pt;
}

@media (max-width: 640px) {
	.container {
		width: 100%;
		margin-left: 10px !important;
	}
	.container-fluid {
		margin-left: auto;
		max-width: auto;
	}
	header {
		margin-top: 10px !important;
	}
}

span.thoughts {
	padding-left: 10px;
	margin-left: 10px;
	display: block;
	border-left: 1px solid #cccdde;
	margin-top: 5px;
	margin-bottom: 5px;
}